

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Montserrat:wght@700&family=Poppins:wght@500;600;700;800&family=Raleway:wght@200;400;500&family=Titillium+Web:wght@300;400;600;700&family=Ubuntu&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif ;
}

*::selection {
    background-color: #8800ff;
    /* background-color: #282828; */
    color: #fff;
}

html {
    behavior: smooth;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color3);
    border-radius: 50px;
}

:root {
   --color: #8800ff;
    --color2: #0c0413;
    /* --color3: -webkit-linear-gradient( #c837ae , #733bc6, #3043dc); */
    --color3: -webkit-linear-gradient( #8800ff, #c837ae);
    --facebook: #0a82ed;
    --linked: #0a66c2;
    --newcolor: #3a0ca3;
    --white: #fff;
    --helper: #3c3e41;
    --transparent: #f8f7f7ec;
    --bgcolor: #710ec9;
    --overlay: #3c3e4173;
    --black: #766b6b;
}


/*----------NAVBAR-----START----------*/

.logo {
    width: 18%;
}

.letter_spacing {
  letter-spacing: .2rem;
}

.font_size {
    font-size: 1.1rem;
}

.font_nav {
  position: relative;
}

.font_nav:after {
  position: absolute;
  background-color: var(--color);
  content: "";
  display: block;
  width: 100%;
  bottom: 15%;
  left: 0;
  height: 2px;
  transition: transform .5s;
  transform-origin: right;
  transform: scaleX(0);
}

.font_nav:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav_bg {
    background-color: var(--transparent);
}


/*----------NAVBAR-----END----------*/


/* ---------------BANNER----START------------ */

.banner_h5_letterspace {
    letter-spacing: .5rem;
}

.heading_color {
    color: var(--color);
}
.heading_color2 {
    background: var(--color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.selection_none::selection {
    background: transparent;
    color: transparent;
}

.word_size {
    font-size: 3.2rem;
}

.typing-text::after {
    content: "|";
    animation: blink 1s step-end infinite;
    color: var(--color);
  }
  
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .typing-container {
      font-size: 1.5rem;
    }
  }

  .facebook_icon {
    color: var(--facebook);
    font-size: 1.7rem;
    padding: .9rem .9rem;
    box-shadow: 0px 2px 10px var(--black);
    border-radius: .5rem;
    transition: all ease-in-out .4s;
  }

  .facebook_icon:hover {
    translate: 0 -.3rem;
    /* color: var(--white);
    background: var(--color3); */
    /* box-shadow: none; */
    /* scale: 1.1; */
  }

  .insta_icon {
    /* color: var(--color); */
    padding: 1rem 1.1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 10px 0px var(--black);
    transition: all ease-in-out .4s;
  }

   .insta_icon:hover {
    translate: 0 -.3rem;
    color: var(--white);
    /* background: var(--color3); */
    /* box-shadow: none; */
    /* scale: 1.1; */
  }

  .linkedin_icon {
    color: var(--linked);
    font-size: 1.7rem;
    padding: .9rem 1rem;
    /* box-shadow: 0px 0px 4px var(--color); */
    border-radius: .5rem;
    box-shadow: 0px 2px 10px 0px var(--black);
    transition: all ease-in-out .4s;
  }

  .linkedin_icon:hover {
    translate: 0 -.3rem;
    /* color: var(--white); */
    /* background: var(--color3); */
    /* box-shadow: none; */
    /* scale: 1.1; */
  }

  .github_icon {
    color: var(--linked);
    font-size: 1.5rem;
    padding: 1rem 1.1rem;
    /* box-shadow: 0px 0px 4px var(--color); */
    border-radius: .5rem;
    box-shadow: 0px 2px 10px 0px var(--black);
    transition: all ease-in-out .4s;
  }

  .github_icon:hover {
    translate: 0 -.3rem;
    /* color: var(--white); */
    /* background: var(--color3); */
    /* box-shadow: none; */
    /* scale: 1.1; */
  }

  .photoshop_icon {
    color: var(--color);
    font-size: 1.5rem;
    padding: 1rem 1.1rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 10px 0px var(--black);
    transition: all ease-in-out .4s;
    transform-style: preserve-3d;
  }

  .photoshop_icon:hover {
    transform: scale(1.1);
  }

  .figma_icon {
    color: var(--color);
    font-size: 1.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 10px 0px var(--black);
    transition: all ease-in-out .4s;
    transform-style: preserve-3d;
  }

  .figma_icon:hover {
    transform: scale(1.1);
  }


  .small_circle {
    animation: smallcircle linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes smallcircle {
    0% {
        translate: 0 -.5rem;
    }
    50% {
        translate: 0 .5rem;
    }
    100% {
        translate: 0 -.5rem;
    }
  }

  .tripizium {
    animation: smalltripizium linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes smalltripizium {
    0% {
        translate: 0 .5rem;
    }
    50% {
        translate: 0 -.5rem;
    }
    100% {
        translate: 0 .5rem;
    }
  }

  .square {
    animation: mysquare linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes mysquare {
    0% {
        translate: .5rem 0;
    }
    50% {
        translate: -.5rem 0;
    }
    100% {
        translate: .5rem 0;
    }
  }

  .small_square {
    animation: smallsquare linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes smallsquare {
    0% {
        translate: .5rem 0;
    }
    50% {
        translate: -.5rem 0;
    }
    100% {
        translate: .5rem 0;
    }
  }

  .top_circle {
    animation: topcircle linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes topcircle {
    0% {
        scale: 1;
    }
    50% {
        scale:.8;
    }
    100% {
        scale: 1;
    }
  }
  .top_circle2 {
    animation: mytopcircle linear 3s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes mytopcircle {
    0% {
        translate:-.8rem 0;
    }
    50% {
        translate:.5rem 0;
    }
    100% {
        translate:-.8rem 0;
    }
  }


/* ---------------BANNER----END------------ */


/* ---------------FEATURES----START------------ */


.tilt_box {
  transform-style: preserve-3d;
  cursor: pointer;
  transition: linear .3s;
  padding: 12% 10%;
  box-shadow: inset 0 0 5px var(--color);
  position: relative;
  border-radius: 10px;
}

.tilt_box:hover {
  background-color: var(--color);
  color: var(--white);
}

.tilt_box .bars {
  font-size: 2.5rem;
  transition: linear .5s;
}

.tilt_box p::selection {
  background-color: var(--white);
  color: var(--color);
}
.tilt_box h3::selection {
  background-color: var(--white);
  color: var(--color);
}
.right_arrow::selection {
  background-color: var(--white);
  color: var(--color);
}

.tilt_box:hover .bars {
  transform: rotate(360deg) translateZ(40px);
}

.tilt_box h3 {
  transition: all linear .3s;
  font-size: 1.8rem;
}

.tilt_box:hover h3 {
  transform: translateZ(40px);
}
.tilt_box p {
  transition: all linear .3s;
  font-size: 1.1rem;
}

.tilt_box:hover p {
  transform: translateZ(40px);
}
.tilt_box .right_arrow {
  transition: all linear .3s;
  font-size: 2rem;
  visibility: hidden;
  position: absolute;
  bottom: 0;
}

.tilt_box:hover .right_arrow {
  transform: translateZ(40px);
  visibility: visible;
  translate: 0 -.5rem;
  bottom: 5%;
}

/* ---------------FEATURES----END------------ */


/* ---------------PORTFOLIO----START------------ */

.portfolio_section {
  transition: linear .4s;
  /* cursor: pointer; */
  padding: 18% 10% 32% 10%;
  box-shadow: 0 0 5px var(--color);
  position: relative;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.portfolio_section .first_img {
  transition: linear .4s;
  transform-style: preserve-3d;
}

.portfolio_section:hover .first_img {
  scale: 1.1;
  transform: translateZ(40deg);
}

.bottom_arrow {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  left: 90%;
  visibility: hidden;
  transition: ease-in-out .4s;
}

.portfolio_section:hover .bottom_arrow {
  visibility: visible;
  bottom: 11.5%;
  color: var(--color);
}

.change_color {
 transition: ease-in-out .3s;
 color: var(--helper);
 transform-style: preserve-3d;
}

.change_color:hover {
  color: var(--color2);
  transform: translateZ(40deg);
}

.line_width {
  animation: linewidth linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes linewidth {
  0% {
    translate: -.5rem 0;
  }
  50% {
    translate: .5rem 0;
  }
  100% {
    translate: -.5rem 0;
  }
}

.design_animate {
  animation: design_animate linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes design_animate {
  0% {
    translate: 0 -1rem ;
  }
  50% {
    translate: 0 .1rem ;
  }
  100% {
    translate: 0 -1rem ;
  }
}

.figma_flower {
  animation: figma_flower linear 5s infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes figma_flower {
  0% {
    scale: 1;
  }
  50% {
    scale: .7;
  }
  100% {
    scale: 1;
  }
}

.rect_scale {
  animation: rect_scale linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rect_scale {
  0% {
    scale: 1;
  }
  50% {
    scale: .7;
  }
  100% {
    scale: 1;
  }
}

.rect_move {
  animation: rect_move linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rect_move {
  0% {
    translate: 1rem 0;
  }
  50% {
    translate: -.5rem 0;
  }
  100% {
    translate: 1rem 0;
  }
}

/* ---------------PORTFOLIO----END------------ */


/* ---------------RESUME----START------------ */

.rotate_svg {
  transform: rotateY(180deg);
}
.download_btn {
  border:1px solid var(--color);
  color: var(--color);
  background-image: none;
  font-size: 1.3rem;
  transition: ease-in-out .4s;
}

.download_btn:hover {
  background: var(--color3);
  color: var(--white);
  border: none;
  translate: 0 -.5rem;
}

.skill_bar {
  animation: skillbar ease-in-out 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes skillbar {
  0% {
    translate: 0 -.6rem;
  }
  50% {
    translate: 0 .6rem;
  }
  100% {
    translate: 0 -.6rem;
  }
}
.skill_bar2 {
  animation: skillbar2 ease-in-out 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1s;
}

@keyframes skillbar2 {
  0% {
    translate: 0 .5rem;
  }
  50% {
    translate: 0 -.5rem;
  }
  100% {
    translate: 0 .5rem;
  }
}
.skill_bar3 {
  animation: skillbar3 ease-in-out 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 2s;
}

@keyframes skillbar3 {
  0% {
    translate: 0 -.3rem;
  }
  50% {
    translate: 0 .3rem;
  }
  100% {
    translate: 0 -.3rem;
  }
}

.hobbies_circle {
  animation: hobbies_circle ease-in-out 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hobbies_circle {
  0% {
    translate: 0 .5rem;
    scale: 1;
  }
  50% {
      translate: 0 -.5rem;
      scale: .8;
  }
  100% {
      translate: 0 .5rem;
      scale: 1;
  }
}
.hobbies_square {
  animation: hobbies_square ease-in-out 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hobbies_square {
  0% {
    translate: 0 .7rem;
  }
  50% {
      translate: 0 -.1rem;
  }
  100% {
      translate: 0 .7rem;

  }
}

.html_skill {
    transition: linear .3s;
    padding: .2rem 1rem 1rem 1rem;
    transform-style: preserve-3d;
    box-shadow: 0 0 5px var(--color);
    position: relative;
    border-radius: 1rem 0 1rem 0;
}

.html_skill:hover {
    background-color: var(--color);
    color: var(--white);
}

.html_skill p {
    font-size: 1.8rem;
    transition: linear .3s;
}

.html_skill:hover p {
  transform: translateZ(30px);
}

.html_skill p::selection {
    background-color: var(--white);
    color: var(--color);
}

.html_skill span {
    transition: linear .3s;
}

.html_skill:hover span {
    transform: translateZ(30deg);
    color: var(--white);
}


/* ---------------RESUME----END------------ */


/* ---------------CONTACT----START------------ */

.contact_circle {
  animation: contactcircle linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes contactcircle {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.contact_bar {
  animation: contactbar linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes contactbar {
  0% {
    translate: 0 .3rem;
  }
  50% {
    translate: 0 -.5rem;
  }
  100% {
    translate: 0 .3rem;
  }
}

form {
	text-align: left;
	width: 100%;
	margin: 0 auto;
}

textarea {
  height: 100px;
}

.input_margin {
  margin: 2rem 0;
}

input,
textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;
	
	/*
	* IMPORTANT PART HERE
	*/
	
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to bottom, var(--color), var(--color)), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
  transition: background-size 0.6s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus,
textarea:focus{
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none;
}

.form_button {
  border:1px solid var(--color);
  color: var(--color);
  background-image: none;
  font-size: 1.3rem;
  transition: ease-in-out .4s;
}

.form_button:hover {
  background: var(--color3);
  color: var(--white);
  border: none;
  translate: 0 -.5rem;
}

/* ---------------CONTACT----END------------ */


/* ---------------FOOTER----START------------ */

.footer_logo {
  width: 5rem;
}

.text_size {
  font-size: 1.5rem;
}

/* ---------------FOOTER----END------------ */


/*----------------------------------RESPONSIVE---CODES----------------------------*/

@media only screen and (max-width: 750px){
    .font_nav {
        text-align: center;
        width: 25%;
        margin: auto;
    }

    .word_size {
        font-size: 3.2rem;
    }

    .margin_top {
      margin: 2rem 0 0 0;
    }
    .wrapper {
      margin: -8.5% 0 0 -2%!important;
      min-width: 4ch!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .font_nav {
        text-align: center;
        width: 14%;
        margin: auto;
    }

    .margin_top {
      margin: 2.5rem 0 0 0;
    }
    .wrapper {
      margin: -6.5% 0 0 -8%!important;
      min-width: 4ch!important;
    }
}

/*------------------------TO--TOP--BUTTON---START--------------*/

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: var(--color3);
  color: var(--white);
  padding: .9rem 1rem;
  cursor: pointer;
  opacity: 100%;
  transition: linear .3s;
  border: none;
}

.hidden {
  opacity: 0%;
}

.back-to-top:hover {
  background: var(--white);
  border: 1px solid var(--color);
  color: var(--color);
  translate: 0 -.5rem;
}


.back-to-top-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.progress-bar {
  height: .5rem;
  background: #8800ff;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/*------------------------TO--TOP--BUTTON---END--------------*/

/*------------------------LOADER---START--------------*/

.loader_main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -6rem; */
  transition: all ease-in-out .2s;
}

.book-loader-container1 {
  /* --color: #eee; */
  --line-width: 0.5ch;
  --_border-width: calc(var(--line-width) / 2);
  --duration: 2s;
  --spine-length: 5ch;
  --spine-height: calc(var(--spine-length) * 0.5);
  --page-length: 7ch;
  --cover-length: calc(var(--page-length) + 0ch);
  --page-offset-y: 0.4ch;
  --page-offset-x: 0.5ch;
  --page-anim-offset: calc(2s / 4);
  --_width: calc(
    2 * var(--cover-length) + var(--spine-length) + 2 * var(--line-width)
  );
  --_wrapper-width: calc(
    var(--cover-length) + var(--line-width) + var(--spine-length) / 2
  );
  --_height: calc(
    var(--_wrapper-width) + var(--spine-height) + var(--page-offset-y)
  );
  /*   --border-radius: 15px; */

  position: relative;
  width: var(--_width);
  height: var(--_height);

  & .spine {
    border: var(--line-width) var(--color) solid;
    border-radius: 0 0 9px 9px;
    border-top: none;
    position: absolute;
    width: var(--spine-length);
    height: var(--spine-height);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    &::after,
    &::before {
      --border-radius: 15px;
      content: "";
      position: absolute;
      border: solid var(--_border-width) var(--color);
      border-radius: 15px;
      width: calc(var(--cover-length) + var(--line-width));
      top: 0;
    }

    &::after {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      left: 0;
      transform: translatex(calc(var(--spine-length) - var(--line-width)));
    }

    &::before {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      right: 0;
      transform: translatex(calc(-1 * var(--spine-length) + var(--line-width)));
    }
  }
  & .page-wrapper,
  & .page-wrapper-static {
    width: var(--_wrapper-width);
    position: absolute;
    right: 0;
    bottom: calc(var(--spine-height) + var(--page-offset-y));
    transform-origin: left center;
    rotate: 0deg;
    

    &:not(.page-wrapper-static) {
      animation: rotation var(--duration) linear infinite;
      animation-delay: calc((var(--page-num) - 1) * var(--page-anim-offset));
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    & .page {
      --_radius: calc(var(--page-length) + var(--line-length));

      border: solid var(--_border-width) var(--color);
      border-radius: 15px;
      width: var(--page-length);
    }
    &.left .page {
      transform: translatex(
        calc(
          1 * (var(--_wrapper-width) - var(--page-length)) -
            (var(--spine-length) / 2) + var(--line-width) - var(--page-offset-x)
        )
      );
    }

    &:not(.left) .page {
      transform: translatex(
        calc(var(--spine-length) / 2 - var(--line-width) + var(--page-offset-x))
      );

      transform: translatex(
        calc(
          (var(--spine-length) / 2 - var(--line-width)) + var(--page-offset-x)
        )
      );
    }
  }
}

.wrapper {
  min-width: 10ch;
  min-height: 10ch;
  margin: 15ch;
}




.page::after,
.page::before {
  box-sizing: border-box;
  /*   outline: solid rgb(0 0 255 / 0.5) 2px; */
}

@keyframes rotation {
  to {
    rotate: -180deg;
  }
}


/*------------------------LOADER---END--------------*/
